.special-skill-item .icon {
  text-align: center;
  font-size: 50px;
  background-color: #eb4b06;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
}

