.gradient {
  background: linear-gradient(120deg,#000000,#000000);
  color: #fff;
}

.navbar-brand {
  /*background-image: url(../../assets/img/logo.svg);*/
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.portfolio-block.photography .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #ffffff;
  opacity: 1;
}

.portfolio-block.compact-grid .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #ffffff;
  opacity: 1;
}

