.page-footer .social-icons a {
  font-size: 18px;
  margin: 0 3px;
  color: #fff;
  border: 1px solid;
  opacity: .75;
  border-radius: 50%;
  width: 36px;
  display: inline-block;
  height: 36px;
  text-align: center;
  background-color: #cc412e;
  line-height: 34px;
}

